.neon-sign {
	--interval: 1s;
 	 display: block;
  	text-shadow: 
		0 2px 0 #c9c9c9,
		0 3px 0 #bbb,
		0 4px 0 #aaa,
		0 0 10px var(--color1),
		0 0 20px var(--color2),
		0 0 40px var(--color3),
		0 0 80px var(--color4);
	will-change: filter, color;
	filter: saturate(60%);
	animation: flicker steps(100) var(--interval) 2s infinite;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 5px;
}

.glow {
	color: azure;
  --color1: azure;
  --color2: aqua;
  --color3: dodgerblue;
  --color4: blue;
  font-family: Sriracha;
}

@keyframes flicker {
  50% {
    color: white;
    filter: saturate(200%) hue-rotate(30deg);
  }
}